.containerGeneral {
  background: white;
}
.containerMaxWidth {
  max-width: 1240px;
}
.hiddenForgot {
  display: block !important;
}
.containerInputLogin {
  display: flex;
  max-width: 320px;
  display: flex;
  justify-content: center;
  margin: auto;
  /* flex-wrap: wrap; */
}
.inputLogin {
  width: 320px;
}
.containerSectionLogin {
  /* border: 1px solid red; */
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: start;
  height: 44px;
  /* padding: 20px; */
  font-size: 14px;
  margin-right: 10px;
}
