:root {
  --primary: #ff8000;
}

.buttonPrimary {
  background: #ff8000;
  border: 1px solid #ff8000;
  color: white;
}
.buttonPrimary:hover {
  color: white;
}

.buttonSecondary {
  background: #ebe9e9;
  border: 1px solid #ebe9e9;
  color: #ff8000;
}
.buttonSecondary:hover {
  background: #ff8000;
  border: 1px solid #ff8000;
  color: white;
}

.textHoverPrimary:hover {
  color: #ff8000 !important;
}

.containerContent {
  /* max-width: 1640px; */
  background: white;
}
.containerHeader {
  border-bottom: 1px solid gray;
}
.containerFooter {
  border-top: 1px solid gray;
}
