.containerGeneral {
  background-color: white;
}
.containerInputLogin {
  display: flex;
  flex-wrap: wrap;
}
.inputLogin {
  width: 280px;
}
.containerSectionLogin {
  /* border: 1px solid red; */
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: start;
  height: 44px;
  padding: 20px;
  font-size: 14px;
  margin-right: 10px;
}
.fv-plugins-message-container {
  text-align: center;
  width: 100%;
}
.fv-help-block {
  text-align: center;
  width: 100%;
}
