.containerGridForm {
  width: 40%;
  margin: 45px 25px 45px 25px;
}

.containerForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -65px;
}
.containerWrapper {
  padding-top: 40px !important;
}
.titleForm {
  text-align: start;
  margin: 20px 0px;
  /* text-decoration: underline; */
  font-weight: 600;
  /* line-height: 1.5px; */
  border-bottom: 1px solid black;
  width: 300px;
  padding-bottom: 10px;
}
.containerButton {
  max-width: 1500px;
  padding-right: 20px;
}

@media (max-width: 990px) {
  .containerWrapper {
    padding-top: 55px !important;
  }
  .containerForm {
    margin-top: 0px;
  }
}
@media (max-width: 900px) {
  .containerGridForm {
    width: 450px;
  }
}
