.containerGeneral {
  background-color: white;
}
.containerMaxWidth {
  /* border: 1px solid red; */
  max-width: 1240px !important;
}
.hiddenRegister {
  display: block !important;
}
.containerForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -65px;
}
.containerGridForm {
  width: 450px;
  margin: 45px 45px 0px 45px;
}
.titleForm {
  text-align: start;
  margin: 20px 0px;
  /* text-decoration: underline; */
  font-weight: 600;
  /* line-height: 1.5px; */
  border-bottom: 1px solid black;
  width: 300px;
  padding-bottom: 10px;
}
.containerInputLogin {
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid black; */
}
.inputLogin {
  width: 290px;
}
.containerSectionLogin {
  /* border: 1px solid red; */
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: start;
  height: 44px;
  padding: 8px;
  font-size: 14px;
  text-align: start;
}
.containerButtons {
  display: flex;
  justify-content: flex-end;
  /* margin-top: -1px; */
  margin-top: -1px !important;
  margin-bottom: -30px !important;
}

@media (max-width: 500px) {
  .inputLogin {
    width: 100%;
  }
  .containerSectionLogin {
    width: 100%;
    justify-content: flex-start;
  }
  .containerGridForm {
    margin: 20px;
  }
}
